{% extends "home.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #FF0000; }
  </style>
{% endblock %}
{% block content %}
<div align="center" >
  <h1>Cloud Kitchen</h1>
    <p>A cloud kitchen is a concept of delivery only restaurant with no physical space, no dine-in space or takeaway counter. It is a restaurant kitchen that accepts delivery only orders without a traditional restaurant or dining-in facility. Just an operational kitchen for the preparation of food that functions as a production unit. No fancy infrastructure, no waiters, no tables, no furniture, nothing at all.
 Customers can place their orders online through our cloud kitchen, hence, the name cloud kitchen. 

These kitchens are sometimes also known as ghost kitchens, dark kitchens or virtual kitchens.
</p>
    <p>The objective of these kitchens is to add value to the customers. Many of these customers buy daily from these kitchens. Hence, they are very concerned about the quality of inputs that are used since it directly impacts their health. This is the reason why cloud kitchens focus on food quality.
</p>
    <p>With increased internet penetration and the age of millennials with disposable income demanding digital, mobile-friendly solutions, the trend of virtual restaurants (delivery-only brands) has lately garnered attention.
</p>
    <p>With the current scenario of many established and semi established restaurants, cafes shutting down, Cloud kitchen model has found a great boost. With real estate being a high cost in big cities, the concept of cloud kitchen has got many takers.
</p>
</div>
    {% endblock %}